/* Alert Messages */
.Message{
    margin-bottom: 20px !important;
    text-align: center !important;
    margin-right: auto !important;
    margin-left: auto !important;
    font-weight: bold;
    font-size: 25px;
    width: 420px;
    height: 40px;
}
/* Text Boxes */
.TextBox{
    border: 2px solid black !important;
    border-radius: 10px !important;
    text-align: center !important;
    font-weight: bold !important;
    font-size: 19px !important;
    width: 260px !important;
    height: 50 !important;
}
/* Admin & User Button */
#AdminAndUserButtonBox{
    justify-content: space-around;
    background-color: darkgray;
    font-size: 25px !important;
    align-items: center;
    border-radius: 12px;
    margin-right: auto;
    font-weight: bold;
    margin-left: auto;
    display: flex;
    width: 280px;
    height: 50px;
}
.AdminAndUserButton{
    background-color: lightgray;
    border-radius: 8px;
    width: 100px;
    height: 35px;
}
/* Button Login */
#LogIn{
    background-color: black !important;
    transition-duration: 0.5s !important;
    box-shadow: 0px -5px 4px gray;
    line-height: 2.5 !important;
    color: white !important;
    display: inline-block;
    border-radius: 5rem;
    position: relative;
    text-align: center;
    height: 40px;
    width: 80px;

}
#LogIn:hover{
    background-color: darkgray !important;
    color: black !important;
    box-shadow: none;
}
#LogIn ion-icon{
    position: absolute;
    right: 15%;
    top: 30%;
}
/* Button Register */
#Register{
    background-color: black !important;
    transition-duration: 0.5s !important;
    box-shadow: 0px -5px 4px gray;
    line-height: 2.5 !important;
    color: white !important;
    display: inline-block;
    border-radius: 5rem;
    text-align: center;
    height: 40px;
    width: 90px;
}
#Register:hover{
    background-color: darkgray !important;
    color: black !important;
    box-shadow: none;
}
/* User Name Box */
#UserNameBox{
    background-color: darkgray !important;
    font-size: large !important;
    text-align: center;
    border-radius: 5rem;
    border: none;
    height: 40px;
    width: 100%;
}
/* User Information Box */
#InformationBox{
    background-color: bisque !important;
    border-radius: 0 0 10px 10px;
    margin-right: auto;
    text-align: center;
    margin-left: auto;
    display: none;
    height: 90px;
    width: 80%;
}
/* Information Box Child */
.InformationBoxChild{
    background-color: bisque !important;
    cursor: pointer;
    border: none;
}
/* Exit Button */
#ExitButton{
    font-weight: bold !important;
}
#ExitButton:hover{
    color: red;
}
/* Edit Button */
#EditButton{
    display: inline-block;
    margin-bottom: 18px;
    margin-top: 10px;
}
#EditButton:hover{
    color: blue;
}
/* Category Box */
.CategoryChild{
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size:medium;
    transition: 0.5s;
    width: 100%;
    height: 30px;
}
.CategoryChild:hover{
    font-weight: bold;
    font-size: large;
    scale: 1.2;

}
/* Factory Box */
.FactoryChild{
    background-color: gray;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
    font-size:medium;
    transition: 0.5s;
    width: 100%;
    height: 30px;
}
a .FactoryChild{
    color: white !important;
}
.FactoryChild:hover{
    font-weight: bold;
    font-size: large;
    scale: 1.2;

}
/* Custom Page Number */
.CustomPageNumber nav ul{
    margin: 0;
}
/* Admin Name Box */
#AdminNameBox{
    background-color: darkgray !important;
    font-size: large !important;
    border-radius: 5rem;
    align-items: center;
    text-align: center;
    display: flex;
    height: 40px;
    border: none;
    width: 100%;
}
#AdminNameBox strong{
    margin: auto;
}
/* Alert Button */
.AlertButton {
    transition: all 450ms linear 0s;
    border: 1px solid transparent;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    width: 200px;
    height: 50px;
}
button.ALertButton:hover {
    background: black !important;
}
/* Products Not Found Message Box */
.Message_Box{
    border: 5px dotted green;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    margin: 0px 30px;
    color:darkred;
    padding: 50px;
    width: 90%;
}
/* About-Us Text Style */
.AboutUsStyle{
    background-color:whitesmoke;
    border: 3px solid darkblue;
    border-radius: 0.5rem;
    font-size: xx-large;
    margin: 100px auto;
    font-weight: bold;
    line-height: 3;
    height: 100px;
    width: 70%;
}
